extends layout

block content
 table
  caption Weight Information
   if weights.length
    tr
     th SN
     th Name
     th Weight
     th Day
     th
     th
    each weight in weights
     tr
      td #{weight.SN}
      td #{weight.USERNAME}
      td #{weight.WEIGHT}
      td #{weight.DAY}
      td
       a(href='/weights-mongo/#{weight.id}/delete') Delete
      td
       a(href='/weights-mongo/#{weight.id}/edit') Edit
 br
 table
  tr
   td
    a(href='/weights-oracle/add/amount') Add Amount
   