extends layout

block content
  h1= username
  p Welcome to #{username}
  
  form(name='weightAddform', action='/weight/add', method='post')
   table
    tr
     td='Username:'
     td
      b #{username}
    tr
     td='Weight:'
     td
      input(type='text', name='weight', id='weight', size='25')
    tr
     td
      input(type='submit', value='submit', name='submit', id='submit')
     td
      input(type='reset', value='reset', name='reset', id='reset')